{% extends 'base.html' %}

{% block content %}

<body >
    <form action="{% url 'delete_donateur' item.id %}" method="POST">
        {% csrf_token %}
        <div style="height: 132px;border-radius: 9px;background-color: white;width: 1042px;margin-top: 86px;">
            <br><center><p><h4 style="font-family: 'Dancing Script', cursive;margin-top: -15px;">Etes-vous sur de vouloir supprimer "{{item}}"?</h4></p>
                </p><p><a href="{% url 'liste_donateur' %}">Annuler</a> 
    
                <input type="submit" value="Supprimer"></p>
            </center>
        </div>
    </form>
   
</body>

{% endblock %}